Import Libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
import chardet

Data Processing

In [ ]:
# load the dataset to pandas Data Frame
file = '/content/spam.csv'

In [ ]:
raw_mail_data = pd.read_csv(file,encoding='Windows-1252')
raw_mail_data.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [ ]:
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'confidence': 0.7270322499829184, 'encoding': 'Windows-1252', 'language': ''}

In [ ]:
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [ ]:
 mail_data.shape

(5572, 5)

In [ ]:
mail_data.head()    # sample data

     v1  ... Unnamed: 4
0   ham  ...
1   ham  ...
2  spam  ...
3   ham  ...
4   ham  ...

[5 rows x 5 columns]

In [ ]:
# label spam mail as 0; Non-spam mail (ham) mail as 1.
mail_data.loc[mail_data['v1'] == 'spam', 'v1',] = 0
mail_data.loc[mail_data['v1'] == 'ham', 'v1',] = 1

In [ ]:
# separate the data as text and label. x--> text; y--> label
x = mail_data['v2']
y = mail_data['v1']

In [ ]:
print(x)
print('...............')
print(y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
...............
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

Train Test Split

In [ ]:
# split the data as train data and test data 
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.8, test_size=0.2, random_state=3)

Feature Extraction

In [ ]:
# transform the text data to feature vectors that can be used as input to the SVM model using TfidVectorizer
# convert the text to lower case letters
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')
x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

# convert  y_train and y_test values as integer
y_train = y_train.astype('int')
y_test = y_test.astype('int')

Training the model --> **Support Vector Machine**

In [ ]:
# training the support vector machine model with traning data
model = LinearSVC()
model.fit(x_train_features, y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

Evaluation of the model

In [ ]:
# prediction on training data
prediction_on_training_data = model.predict(x_train_features)
accuracy_on_training_data = accuracy_score(y_train,prediction_on_training_data)

In [ ]:
print('Accuracy on training data',accuracy_on_training_data)

Accuracy on training data 0.9995512676688355

In [ ]:
prediction_on_test_data = model.predict(x_test_features)
accuracy_on_test_data = accuracy_score(y_test,prediction_on_test_data)

In [ ]:
print('Accuracy on test data',accuracy_on_test_data)

Accuracy on test data 0.9856502242152466

Prediction on new mail

In [ ]:
input_mail = ["WINNER!! As a valued network customer you have been selected to receive $900 prize reward! To claim call 09061701461.Claim code KL341. Vlaid 12 hours only."]
# convert test to feature feature vectors
input_mail_features = feature_extraction.transform(input_mail)

# making prediction
prediction = model.predict(input_mail_features)
print(prediction)

if (prediction[0]==1):
  print('HAM MAIL')
else:
  print('SPAM MAIL')

[0]
SPAM MAIL

In [ ]:
input_mail = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have wonderful and a blessing at all times"]
# convert test to feature feature vectors
input_mail_features = feature_extraction.transform(input_mail)

# making prediction
prediction = model.predict(input_mail_features)
print(prediction)

if (prediction[0]==1):
  print('HAM MAIL')
else:
  print('SPAM MAIL')

[1]
HAM MAIL